<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>香港卫视</string>
		<key>url</key>
		<string>rtmp://live.hkstv.hk.lxdns.com/live/hks</string>
	</dict>
	<dict>
		<key>name</key>
		<string>资讯卫视</string>
		<key>url</key>
		<string>http://58.221.254.33:1935/live/zhongwen.sdp/playlist.m3u</string>
	</dict>
</array>
</plist>
